body {
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  background-color: rgb(207, 216, 219);
}

h1 {
  margin-top: 10px;
  margin-left: 65px;
}


li {
  font-size: large;
  text-align: center;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  background-color: rgb(186, 193, 200);
}

li a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 4rem;
  text-decoration: none;
}

li a:hover {
  height: 100%;
  width: 100%;
  color: white;
}

header {
  left: 890px;
  padding: 5px;
  height: 58px;
  width: 1400px;
}

.top-nav {
  background-color: #333;
  padding: 5px;
}

nav {
  background-color: #333;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.left {
  order: 1;
  display: grid;
  margin-right: 500px;
  font-size: 15px;

}

.right {
  order: 2;
  margin-left: 60px;
  font-size: 15px;
}

.heart {
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: url('kuvat/heart.png');
  background-size: cover;
  margin-left: 200px;
}

.user {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url('kuvat/usericon.png');
  background-size: cover;
}

img.img {
  border-radius: 8px 8px 0 0;
  border: 1px black solid;
  width: 100%;
  height: auto;
}