body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    background-color: rgb(247, 237, 237);
}

/* header */

h1 {
    margin-top: 10px;
    margin-left: 65px;
    text-shadow: 2px 0.5px 0.5px gray;
}

header {
    left: 890px;
    padding: 5px;
    height: 80px;
    width: 1400px;
}

/* nav */

li {
    font-size: medium;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgb(184, 163, 163);
}

li a {
    color: black;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    color: white;
}

.top-nav {
    background-color: #333;
    padding: 5px;
}

.mainNav {
    background-color: #333;
    padding: 0px 5px 5px 5px;
}

.leftLI {
    order: 1;
    display: grid;
    font-size: 14px;
}

.rightLI {
    order: 2;
    font-size: 14px;
}

.loginLI {
    font-size: medium;
    order: 2;
    font-size: 14px;
}

.heart {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
}

.user {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

/* main */

form {
    border: 1px solid rgb(179, 149, 149);
    box-shadow: 0 15px 25px 0 rgb(179, 149, 149);
    background-color: white;
    padding: 50px;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 250px;
}

.login-form label {
    margin: 10px;
    margin-left: -2px;
}

button {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 1px 1px 0 black;
    background-color: rgb(215, 178, 178);
}

#button2 {
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 2px 2px 0 black;
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(215, 178, 178);
}



/* footer */

footer {
    padding-top: 10px;
}

.kayttajaP {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: -5px;
}

/* media */

@media only screen and (max-width: 2000px) {
    h1 {
        margin-left: 20px;
    }

    header {
        width: 100%;
    }

    .leftLI {
        margin-right: 100px;
    }

    .rightLI {
        margin-left: 100px;
    }

    .heart {
        margin-right: -350px;
    }

    .user {
        margin-left: 50px;
    }
}


@media only screen and (max-width: 700px) {
    h1 {
        margin-left: 10px;

    }

    header {
        width: 100%;
    }

    nav {
        width: 150%;
    }

    .leftLI {
        margin-right: 5px;
    }

    .rightLI {
        margin-left: 5px;
    }

    .heart {
        margin-right: 5px;
    }

    .user {
        margin-left: 5px;
    }

    main {
        width: 150%;
    }
}