body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

/* header */

h1 {
    margin-top: 25px;
    text-shadow: 2px 0.5px 0.5px gray;
}

header {
    left: 890px;
    padding: 5px;
    height: 80px;
    width: 1400px;
}

.kieli {
    margin: -50px 0px 0px 550px;
}

#kieli {
    background-color: rgba(211, 179, 179, 0.751);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/* nav */

li {
    font-size: medium;
    text-align: center;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgba(221, 204, 204, 0.751);
}

li a {
    color: black;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    color: white;
}

.top-nav {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.mainNav {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.leftLI {
    order: 1;
    display: grid;
    font-size: 14px;
}

.rightLI {
    order: 2;
    font-size: 14px;
}

.loginLI {
    font-size: medium;
    order: 2;
    font-size: 14px;
}

.heart {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
}

.user {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

/* main */

form {
    box-shadow: 0 5px 20px 0 rgba(111, 94, 94, 0.448);
    background-color: white;
    padding: 50px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 450px;
    padding-bottom: 80px;
}

.register-form label {
    margin: 10px;
    margin-left: -2px;
}

button {
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 0.75rem;
    border: none;
    background-color: rgb(74, 72, 72);
    color: white;
}

/* footer */

footer {
    padding-top: 10px;
}

/* media */

@media only screen and (max-width: 2000px) {
    h1 {
        margin-left: 20px;
    }

    header {
        width: 100%;
    }

    .leftLI {
        margin-right: 100px;
    }

    .rightLI {
        margin-left: 100px;
    }

    .heart {
        margin-right: -350px;
    }

    .user {
        margin-left: 50px;
    }
}


@media only screen and (max-width: 540px) {
    h1 {
        margin-left: 10px;
    }

    header {
        width: 100%;
    }

    nav {
        width: 150%;
    }

    .leftLI {
        margin-right: 5px;
    }

    .rightLI {
        margin-left: 5px;
    }

    .heart {
        margin-right: 5px;
    }

    .user {
        margin-left: 5px;
    }

    main {
        width: 100%;
        height: 100vh;
    }

    nav {
        width: 150%;
    }
}