body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    background-color: white;
}

/* header */

h1 {
    margin-top: 10px;
    margin-left: 65px;
    text-shadow: 2px 0.5px 0.5px gray;
}

header {
    left: 890px;
    padding: 5px;
    height: 80px;
    width: 1400px;
}

.kieli {
    margin: -30px 0px 0px 550px;
}

#kieli {
    background-color: rgb(184, 163, 163);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
}

/* nav */

li {
    font-size: medium;
    text-align: center;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgb(184, 163, 163);
}

li a {
    color: black;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    color: white;
}

.top-nav {
    background-color: #333;
    padding: 5px;
}

.mainNav {
    background-color: #333;
    padding: 0px 5px 5px 5px;
}

.leftLI {
    order: 1;
    display: grid;
    font-size: 14px;
}

.rightLI {
    order: 2;
    font-size: 14px;
}

.loginLI {
    font-size: medium;
    order: 2;
    font-size: 14px;
}

.heart {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
}

.user {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

/* main */

main {
    display: block;
    padding: 2rem;
    border: 1px solid rgb(179, 149, 149);
    box-shadow: 0 15px 25px 0 rgb(179, 149, 149);
    background-color: white;
    height: 400px;
    margin: 20px;
}

h2 {
    text-shadow: 1px 1px 1px gray;
}

/* footer */

footer {
    padding-top: 10px;
}

/* media */

@media only screen and (max-width: 2000px) {
    h1 {
        margin-left: 20px;
    }

    header {
        width: 100%;
    }

    .leftLI {
        margin-right: 100px;
    }

    .rightLI {
        margin-left: 100px;
    }

    .heart {
        margin-right: -350px;
    }

    .user {
        margin-left: 50px;
    }

    h2 {
        padding-left: 10px;
    }
}


@media only screen and (max-width: 700px) {
    h1 {
        margin-left: 10px;

    }

    header {
        width: 100%;
    }

    nav {
        width: 150%;
    }

    .leftLI {
        margin-right: 5px;
    }

    .rightLI {
        margin-left: 5px;
    }

    .heart {
        margin-right: 5px;
    }

    .user {
        margin-left: 5px;
    }

    main {
        width: 120%;
    }

    h2 {
        padding-left: 10px;
    }
}