body {
    font-family: 'Tahoma', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* header */

h1 {
    margin-top: 25px;
    margin-left: 20px;
    text-shadow: 2px 0.5px 0.5px gray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.kieli {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#kieli {
    background-color: rgba(211, 179, 179, 0.751);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Tahoma', sans-serif;
    min-width: 120px;
    text-align: center;
}

/* nav */

li {
    font-size: medium;
    text-align: center;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgba(221, 204, 204, 0.751);
}

li a {
    color: black;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    color: white;
}


.top-nav {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.mainNav {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.leftLI {
    order: 1;
    display: grid;
    font-size: 14px;
}

.rightLI {
    order: 2;
    font-size: 14px;
}

.loginLI {
    font-size: medium;
    order: 2;
    font-size: 14px;
}

.heart {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
    margin-left: 220px;
}

.user {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

/* main */

form {
    box-shadow: 0 5px 20px 0 rgba(111, 94, 94, 0.448);
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    width: 50%;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.register-form input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.register-form label {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(74, 72, 72);
    color: white;
}

button:hover {
    background-color: #505050;
}

/* footer */

footer {
    padding-top: 10px;
}

/* media */

@media only screen and (max-width: 2000px) {
    h1 {
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .kieli {
        margin-top: 10px;
    }

    .register-form {
        width: 50%;
        padding: 20px;
    }

    form {
        padding: 30px;
    }
}

@media only screen and (max-width: 600px) {

    .kieli {
        flex-direction: column;
        padding: 10px;
        margin-left: 10px;
    }

    header {
        margin-right: 10px;
        display: inline-block;
    }

    img {
        margin: 10px 15px 0px 20px;
    }

    ul {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    li {
        margin-left: -20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    footer {
        font-size: 13px;
        margin-top: 20px;
    }

    .heart,
    .user {
        margin: 5px;
    }

    .register {
        flex-direction: column;
    }

    form {
        padding: 20px;
    }

    .register-form {
        width: 100%;
    }

}