body {
    font-family: 'Tahoma', sans-serif;
    margin: auto;
    background-color: #f5f5f5;
}

/* header */

h1 {
    margin-top: 25px;
    margin-left: 20px;
    text-shadow: 2px 0.5px 0.5px gray;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.kieli {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

#kieli {
    background-color: rgba(211, 179, 179, 0.751);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Tahoma', sans-serif;
    min-width: 80px;
    text-align: center;
}

/* nav */

li {
    font-size: medium;
    text-align: center;
    width: 100%;
    font-weight: bold;
    list-style: none;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    background-color: rgba(221, 204, 204, 0.751);
}

li a {
    color: black;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    color: white;
}


.top-nav {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.mainNav {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
}

.leftLI {
    order: 1;
    display: grid;
    font-size: 14px;
}

.rightLI {
    order: 2;
    font-size: 14px;
}

.loginLI {
    font-size: medium;
    order: 2;
    font-size: 14px;
}

.heart {
    display: inline-block;
    width: 25px;
    height: 20px;
    background-image: url('kuvat/heart.png');
    background-size: cover;
    margin-left: 220px;
}

.user {
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('kuvat/usericon.png');
    background-size: cover;
}

/* main */

main {
    padding: 2rem;
    background-color: white;
    margin: 0;
    min-height: 150vh;
}

h2,
h3 {
    text-shadow: 1px 0px 0px gray;
    padding-left: 20px;
}

dialog {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.2);
    border: none;
    margin: 20px;
    height: auto;
    display: flex;
    width: 90%;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

button {
    cursor: pointer;
    background-color: rgb(230, 228, 228);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Tahoma', sans-serif;
    border: none;
}

button:hover {
    background-color: #bcbcbc;
    color: white;
}

/* footer */



/* media */

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        margin-left: 10px;
    }

    .kieli {
        margin-top: 10px;
    }

    main {
        padding: 1rem;
        height: auto;
    }

    h2,
    h3 {
        padding-left: 10px;
    }

    dialog {
        width: 80%;
    }

    table {
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {

    .kieli {
        flex-direction: column;
        padding: 10px;
        margin-left: 10px;
    }

    header {
        margin-right: 10px;
        display: inline-block;
    }

    img {
        margin: 10px 15px 0px 20px;
    }

    ul {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    li {
        margin-left: -20px;
    }

    h1 {
        font-size: 1.5rem;
    }

    footer {
        font-size: 13px;
        margin-top: 20px;
    }

    .heart,
    .user {
        margin: 5px;
    }

    dialog {
        width: 100%;
        max-width: 90%;
        padding: 5px;
    }

    table {
        padding: 5px;
        font-size: 0.9rem;
        overflow-x: auto;
    }

    th,
    td {
        padding: 5px;
    }
}